/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
/* Basic tag styling */
h1,h2,h3,p {
    padding-bottom: 12px;
}
a {
    color: #51718c;
    text-decoration: none;
}
/* Utility Classes */
.btn {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btn-primary {
    background-color: #FF5D00;
    color: #fff;
}
.btn-outline-primary {
    background: transparent;
    border: 1px solid #FF5D00;
    color: #51718c;
}
.btn-outline-primary:hover {
    background-color: #FF5D00;
    color: #fff;
}
.m-auto {
    margin: auto;
}

.d-none {
    display: none;
}
.d-block {
    display: block;
}
.primary {
    color: #FF5D00;
}
.m-auto {
    margin: auto;
}
.m-3 {
    margin-top: 30px
}
.copywrite {
    font-weight: 300;
    color: #6f8ba4;
}
/* Styling */
header {
    background: url("img/banner-bg-1-min.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 10px 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
#logo {
    font-weight: 400;
}
#logo > a {
    color: #FF5D00;
}
.nav-bar {
   list-style: none;
   display: flex;
   align-items: center;
}
.nav-bar > li > a {
    display: block;
    padding: 4px 15px;
    font-size: 18px;
    font-weight: 400;
    position: relative;

}
.nav-bar > li:hover > a, .nav-bar > li.current > a {
    color: #FF5D00;
}
.nav-bar > li:hover > a:after, .nav-bar > li.current > a:after  {
    width: 22px;
}
.nav-bar > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0px;
    border-bottom: 2px solid #FF5D00;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}

.showcase {
    height: 90vh;
    padding-top: 100px;
}
.showcase > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showcase-info {
    width: 50%;
    margin-right: 20px;
}
.showcase-heading {
    font-size: 36px;
    font-weight: 300;
    color: #3b566e;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.showcase-info > p {
    font-weight: 400;
    font-size: 18px;
}
.showcase-info > button {
    margin-top: 30px;
}
.showcase-img {
    width: 40%;
    max-width: 50%;
    min-width: 30%;
}
.showcase-img > img {
    display: block;
    width: 100%;
}
.services-sec {
    padding: 100px 0;
}
.sec-title {
    margin-bottom: 45px;
    width: 50%;
}
.sec-img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}
.sec-heading {
    font-size: 36px;
    font-weight: 300;
    color: #3b566e;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.sec-title > p {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
   
}
.card {
    background: url("img/bg-shape-one.png") no-repeat left top;
    width: 33%;
    padding: 45px 32px 60px;
    border: 1px solid #deeefc;
    font-size: 18px;
    list-style: none;
}
.card-heading {
    font-weight: 500;
    color: #3b566e;
}
.card-para {
    color: #6f8ba4;
}
.card > a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-align: right;
}
.card > a > span { 
    margin-right: 10px;
}
#hidden-cards {
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
/* Contact Sec */
.contactus-sec {
    border-top: 2px solid #deeefc;
    background: url("img/contactus-bg.png") no-repeat left center/50%;
    padding: 130px 0;
}
.contactus-sec > article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.contactus-sec > article > .sec-img {
    width: 50%;   
}
.contactus-sec > article > .sec-img > img {
    display: block;
    max-width: 85%;
}
.contactus-sec > article > .form-sec {
    width: 40%;
    padding: 0 30px;
}
.form-sec h2 {
    font-size: 30px;
    color: #3b566e;
    font-weight: 400;
    line-height: 1.4em;
    
}
.form-sec h2::after {
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #FF5D00;
    
}
.form-sec p {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 300;
    padding-top: 15px;
    color: #6f8ba4;
    
}
.form-sec input , .form-sec select{
    display: block;
    width: 100%;
    margin-top: 30px;
    border: 1px solid rgb(253, 176, 131);
    border-radius: 4px;
    padding: 15px 15px;
    color: #6f8ba4;
    font-size: 16px;
    outline: none;
}
.form-sec button {
    margin-top: 30px;
    border: 1px solid rgb(253, 176, 131);
}
/* Footer */
footer {
    padding: 100px 0px 70px;
    background-color: #ecf4f9;
    font-size: 18px;
}
footer > article > ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
footer > article > ul > li { 
    list-style: none;
}
footer > article > ul > li > h2 {
    font-weight: 400;
    color: #FF5D00;
}
footer > article > ul > li > a {
    display: block;
    padding-left: 5px;
}
footer > article > ul > li.follow > a {
    display: inline;
    padding-left: 5px;
}
footer > article > ul > li > a:hover {
    color: #FF5D00;
}