/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
/* Basic tag styling */
h1,h2,h3,p {
    padding-bottom: 12px;
}
a {
    color: #51718c;
    text-decoration: none;
}
/* Utility Classes */
.btn {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btn-primary {
    background-color: #FF5D00;
    color: #fff;
}
.btn-outline-primary {
    background: transparent;
    border: 1px solid #FF5D00;
    color: #51718c;
}
.btn-outline-primary:hover {
    background-color: #FF5D00;
    color: #fff;
}
.primary {
    color: #FF5D00;
}
/* Styling */
header {
    background: url("img/banner-bg-1.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
nav {
    
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 10px 50px;
    position: sticky;
    top: 0;
}

#logo {
    font-weight: 400;
}
#logo > a {
    color: #FF5D00;
}
.nav-bar {
   list-style: none;
   display: flex;
   align-items: center;
}
.nav-bar > li > a {
    display: block;
    padding: 4px 15px;
    font-size: 18px;
    font-weight: 400;
    position: relative;

}
.nav-bar > li:hover > a, .nav-bar > li.current > a {
    color: #FF5D00;
}
.nav-bar > li:hover > a:after, .nav-bar > li.current > a:after  {
    width: 22px;
}
.nav-bar > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0px;
    border-bottom: 2px solid #FF5D00;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}

.showcase {
    height: 90vh;
    padding-top: 20px;
}
.showcase > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showcase-info {
    width: 50%;
    margin-right: 20px;
}
.showcase-heading {
    font-size: 36px;
    font-weight: 300;
    color: #3b566e;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.showcase-info > p {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}
.showcase-info > button {
    margin-top: 30px;
}
.showcase-img {
    width: 40%;
    max-width: 50%;
    min-width: 30%;
}
.showcase-img > img {
    display: block;
    width: 100%;
}
.services-sec {
    padding: 100px 0;
}
.sec-title {
    margin-bottom: 45px;
    width: 50%;
}
.sec-img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}
.sec-heading {
    font-size: 36px;
    font-weight: 300;
    color: #3b566e;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.sec-title > p {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
   
}
.card {
    width: 33%;
    padding: 45px 32px 60px;
    border: 1px solid #deeefc;
    font-size: 18px;
}
.card-heading {
    font-weight: 500;
    color: #3b566e;
}
.card-para {
    color: #6f8ba4;
}
.card > a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-align: right;
}
.card > a > span { 
    margin-right: 10px;
}
