main.about-us {
    padding: 0 15px;
    text-align: center;
    width: 50%;
}
main.about-us h2 {
    font-size: 30px;
    color: #3b566e;
    font-weight: 400;
    line-height: 1.4em;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 10px;
}


main.about-us > .about-us-img > img {
    display: block;
    max-width: 100%;
}
main.about-us h2::after {
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #FF5D00;
    margin: auto;
}
main.about-us > p {
    font-size: 18px;
    color: #3b566e;
    text-align: justify;
    font-weight: 400;
    padding: 30px 0px 30px 0;
} 
